    {% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome to the Home Page</h1>

<h1>Exprime-toi sur le violon</h1>
    <form method="POST">
        <label>Qu'est-ce que tu penses de xxx ?</label><br>
        <textarea id="content" name="content" required></textarea><br><br>

        <label>Les difficultés que tu as :</label><br>
        <textarea name="difficulte"></textarea><br><br>

        <label>Penses-tu que tu peux faire résonner le violon avec ce composant ?</label><br>
        <input type="text" name="resonnance"><br><br>

        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
